<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        table,
        tr,
        th,
        td {
            border: 1px solid black;
            padding: 5px 20px;
            border-collapse: collapse;
        }
    </style>


</head>

<body>
    <div id="app">

        <div v-if="!editMode">
            <table>
                <tr>
                    <th>학번</th>
                    <th>이름</th>
                    <th>학과</th>
                    <th>학년</th>
                    <th>키</th>
                    <th>삭제</th>
                    <th>수정</th>
                </tr>
                <tr v-for="item in list"> <!--변수에서 만든 list[]임-->
                    <td>{{item.STU_NO}}</td>
                    <td>{{item.STU_NAME}}</td>
                    <td>{{item.STU_DEPT}}</td>
                    <td>{{item.STU_GRADE}}</td>
                    <td>{{item.STU_HEIGHT}}</td>
                    <td><button @click="fnRemove(item.STU_NO)">삭제</button></td>
                    <td><button @click="fnEditMode(item)">수정</button></td>
                </tr>
            </table>
            <div>
                <button @click="fnAdd">학생추가</button>
            </div>
        </div>

        <div v-else>
            <div>학번 : {{info.STU_NO}}</div>
            <div>이름 : <input v-model="name"> </div>
            <div>학과 : <input v-model="dept"> </div>
            <div>
                <button @click="fnEdit">수정</button>
                <button @click="editMode = false">취소</button>
            </div>
        </div>
    </div>


</body>

</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                list: [], // self.list = data.list
                info: {},
                editMode: false,
                name: "",
                dept: ""
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnStuList: function () {
                let self = this;
                $.ajax({
                    url: "http://localhost:3009/list",
                    dataType: "json",
                    type: "GET",
                    data: {},
                    success: function (data) {
                        console.log(data);
                        self.list = data.list
                    }
                });
            },
            fnRemove: function (stuNumber) { // body쪽에서 보내는 파라미터 값
                let self = this;
                if (!confirm("정말 삭제하나요?")) {
                    return;
                };

                $.ajax({
                    url: "http://localhost:3009/delete",
                    dataType: "json",
                    type: "GET",
                    data: { stuNo: stuNumber },   // 앞은 key로 서버쪽 파라미터와 같아야하고, 뒷값은 value로 body에서 보낸 값 stuNumber 임 
                    success: function (data) {
                        alert("삭제되었습니다.");
                        self.fnStuList();

                    }
                });

            },
            fnEdit: function (stuNumber) { // body쪽에서 보내는 파라미터 값 -- 하드키로 입력하는 경우
                let self = this;
                if (!confirm("수정 하시겠습니까?")) {
                    return;
                };

                let param = {
                    stuNo: self.info.STU_NO,
                    name: self.name,
                    dept: slef.dept
                };

                $.ajax({
                    url: "http://localhost:3009/update",
                    dataType: "json",
                    type: "GET",
                    data: param,   // 앞에서 미리 param 맵으로 선언함. 
                    success: function (data) {
                        self.fnStuList();
                        alert("수정되었습니다.");
                        self.editMode = false;

                    }
                });

            },


            fnEditMode: function (map) { // 하드키 입력이 아닌 경우 Edit하는 것
                let self = this;
                self.info = map;
                self.name = map.STU_NAME;
                self.dept = map.STU_DEPT;
                self.editMode = true; // !self.editMode
            },

            fnAdd: function () {
                location.href = "7_VueInsert.html";

            }

        }, // 메소드 안에서 함수 작업하기
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            self.fnStuList();
        }
    });

    app.mount('#app');
</script>